<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DAX.CIM.PhysicalNetworkModel" version="0.1.9-beta01" targetFramework="net45" />
  <package id="Debaser" version="0.9.0" targetFramework="net45" />
  <package id="FastMember" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NRGi.Cson" version="0.1.0-beta07" targetFramework="net45" />
</packages>